  * {
    --left1: calc((1/6)*95%);
    --left3: calc((1/6)*95%);
    white-space: pre-line;
  }

  #timeline {
    width: 80%;
    height: 70vh;
    background: url("~img/timelineBg.png") center/cover no-repeat;
    /* background-color: skyblue;   */
  }
  #timeline>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  #line {
    width: 100%;
    height: 2px;
    background-color: gainsboro;
    display: flex;
  }
  .mark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: var(--left3);
    transform: translate(-50%,-50%);
    background-color: white;
    position: relative;
    cursor: pointer;
  }
  .mark:first-child {
    margin-left: var(--left1);
  }
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
  }
  .info {
    position: absolute;
    width: 15vw;
    height: 30vh;
    /* background-color: pink; */
    text-align: center;
    font-family: "Microsoft YaHei";
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .infoTop {
    transform: translateX(calc(-50% + 0.5rem)) translateY(calc(-100% + 0.5rem));
    justify-content: flex-end;
  }
  .infoBot {
    transform: translateX(calc(-50% + 0.5rem)) translateY(calc(1.2rem));
    justify-content: flex-start;
  }
  .resume {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  .bTitle {
    font-size: 3rem;
  }
  .sTitle {
    font-size: 1.5rem;
    color: gray;
  }
  .exLine {
    color: rgba(128, 128, 128, 0.5);
    font-size: 2rem;
    font-weight: lighter;
  }
  .card {
    position: absolute;
  }

  .mark:hover {
    display: show;
    /* animation: bigger 0.5s forwards; */
  }
  /* .info:hover {
    animation: turnTransparent 0.3s forwards;
  } */

  @keyframes bigger {
    from {
      width: 1rem;
      height: 1rem;
    }
    to {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  @keyframes turnTransparent {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }