#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content {
  width: 70vw;
  height: 70vh;
  margin-bottom: 5rem;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
}
#cTitle {
  height: 10vh;
  /* background-color: pink; */
  color: rgb(100, 100, 100);
  font: 2rem/10vh "Microsoft YaHei";
  text-align: center;
}
#cInfo {
  height: 40vh;
  /* background-color: skyblue; */
  display: flex;
  justify-content: center;
}
#cInfo>ul {
  width: 32vw;
  height: 100%;
  padding-right: 2rem;
}
 #cInfo>ul>li {
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
 }
 #cInfo li:last-of-type {
   border-top: 1px solid rgba(220, 220, 220, 0.6);
   padding-top: 2rem;
 }
 #cInfo li:last-of-type span {
   height: 3vh;
   margin-bottom: 2rem;
   display: block;
 } 
.cIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--rFontColorA) center/60% no-repeat;
  opacity: 0.8;
}
.cIconText {
  vertical-align: middle;
  margin-left: 1rem;
  font: 1.2rem sans-serif;
}
#cInfo>div {
  width: 32vw;
  height: 100%;
}
#cSend {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.05);
}
#cSend>div:first-child {
  height: 3vh;
  background-color: var(--rFontColor);
  color: white;
  font: 1.5rem/3vh  "Microsoft YaHei";
  text-indent: 2rem;
  border-radius: 0.5rem;
}
#cSend>div:last-child {
  width: 30vw;
  height: 33vh;
  margin: 1vh auto;
  /* background-color: orange; */
  display: flex;
  /* justify-content: space-between; */
  align-content: flex-start;
  flex-wrap: wrap;
}
#cSend>div:last-child>div {
  margin-bottom: 2rem;
}
#cSend1>input {
  width: 30vw;
  height: 3vh;
  border: 1px solid rgba(220, 220, 220, 0.6);
  /* padding-left: 1rem; */
  text-indent: 1rem;
  border-radius: 0.3rem;
}

#cSend2, #cSend3 {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: space-between;
}
.sendHalf {
  display: block;
  width: 14.5vw;
  height: 3vh;
  border: 1px solid rgba(220, 220, 220, 0.6);
  text-indent: 1rem;
  border-radius: 0.3rem;
}
#cSend4>textarea {
  width: 30vw;
  height: 8vh;
  border: 1px solid rgba(220, 220, 220, 0.6);
  text-indent: 1rem;
  border-radius: 0.3rem;
}
#cSubmit {
  text-align: center;
  font: 1.1rem/3vh sans-serif;
  width: 30vw;
  height: 3vh;
  background-color: rgb(84, 139, 240);
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}
#cOther {
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,0.1);
  width: 64vw;
  height: 10vh;
  margin: 0 auto;
  margin-top: 2rem;
  /* background-color: olive !important; */
}
#cOther>div {
  margin-top: 2rem;
  width: 100%;
  height: 3vh;
  text-align: center;
  color: gray;
  font: 1.2rem/3vh "Microsoft YaHei";
}
#cOther>ul {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cOther li {
  margin: 0 3rem;
  width: 3vh;
  height: 3vh;
  background: center/contain no-repeat;
  cursor: pointer;
}
