/* 宫格长宽--pItemsLiW, --pItemsLiH，图片长宽--pItemsImgW, --pItemsImgH */
* {
  --mainColor: var(--rFontColor)
}
#pItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 3rem;
}
#pItems>li {
  width: var(--pItemsLiW);
  height: var(--pItemsLiH);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1.5vw;
}
.pic {
  margin-top: 0.5vw;
  width: var(--pItemsImgW);
  height: var(--pItemsImgH);
  background: white center/cover no-repeat;
}
.picHover {
  animation: bigger 0.5s forwards;
}
.resume {
  width: var(--pItemsImgW);
  /* height: var(--pItemsLiH); */
  /* color: white; */
  /* background-color: var(--rFontColorA); */
}
.resume>h3 {
  height: 2vw;
  font: normal 2rem/2vw "Microsoft YaHei";
}
.resume>div {
  height: 2vw;
  /* background-color: orange; */
}
.resume>span {
  display: inline-block;
  height: 1vw;
  color: gray;
  /* background-color: olive; */
}
.spanHover {
  animation: changeColor 0.5s forwards;
}
#pNavBtn {
  margin-bottom: 3rem;
}
#pNavBtn>ul{
  display: flex;
  justify-content: center;
}
#pNavBtn li {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 3px;
  font: 1.2rem/2rem "Microsoft YaHei";
  text-align: center;
  cursor: pointer;
  color: gray;
}
.btnActive {
  color: white !important;
  background-color: var(--mainColor);
}
#pNavBtn li:hover {
  color: var(--mainColor);
  /* font-weight: bold; */
}
#pItems>li:hover {
  animation: highligh 0.5s forwards;
}

@keyframes highligh {
  0% {box-shadow: none; }
  100% {box-shadow: 1px 1px 1px 2px gainsboro; }
}
@keyframes bigger {
  from {
    background-size: 100%;
  }
  to {
    background-size: 120%;
  }
}
@keyframes changeColor {
  from {
    color: black;
  }
  to {
    color: var(--mainColor);
    font-weight: bold;    
  }
}